<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            id="org.seasar.dbflute.emecha.eclipse.plugin.dfassist.jdt.QuickFixProcessor"
            class="org.seasar.dbflute.emecha.eclipse.plugin.dfassist.jdt.QuickFixProcessor"
            name="DfAssistFixProcessor">
      </quickFixProcessor>
   </extension>
</plugin>
