<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.seasar.dbflute.emecha.eclipse.plugin"
            name="DBFlute Wizards"/>
      <wizard
            category="org.seasar.dbflute.emecha.eclipse.plugin"
            class="org.seasar.dbflute.emecha.eclipse.plugin.wizards.client.DBFluteNewClient"
            icon="icons/sample.gif"
            id="org.seasar.dbflute.emecha.eclipse.plugin.wizards.client.DBFluteNewClient"
            name="DBFlute New Client"/>
      <wizard
            category="org.seasar.dbflute.emecha.eclipse.plugin"
            class="org.seasar.dbflute.emecha.eclipse.plugin.wizards.version.DBFluteUpgrade"
            icon="icons/sample.gif"
            id="org.seasar.dbflute.emecha.eclipse.plugin.wizards.version.DBFluteUpgrade"
            name="DBFlute Upgrade"/>
   </extension>

</plugin>
